<% layout("/layouts/boilerplate") %>

<body>
  <div class="row mt-3">
    <div class="col-8 offset-3">
      <h3 class="mb-3"><%= listing.title %></h3>
    </div>

    <div class="card col-6 offset-3 show-card listing-card">
      <img
        src="<%= listing.image %>"
        class="card-img-top show-img"
        alt="listing_image"
      />
      <div class="card-body">
        <p class="card-text">Owned By :<i><%= listing.owner.username %></i></p>

        <p class="card-text"><%= listing.description %></p>
        <p class="card-text">
          &#8377; <%= listing.price.toLocaleString("en-IN") %>
        </p>
        <p class="card-text"><%= listing.country %></p>
        <p class="card-text"><%= listing.country %></p>
      </div>
    </div>
    <br />
    <% if(currUser && listing.owner._id.equals(currUser._id)) {%>
    <div class="btns mb-3">
      <a
        href="/listings/<%= listing._id %>/edit"
        class="btn btn-dark col-1 offset-3 edit-btn"
        >Edit</a
      >

      <form method="POST" action="/listings/<%= listing._id %>?_method=DELETE">
        <button class="btn btn-dark offset-5">Delete</button>
      </form>
    </div>
    <% } %>
    <!-- review div -->
    <div class="col-8 offset-3 mb-3">
      <hr />
      <% if(currUser) {%>
      <h4 class="mt-3">Leave a Review</h4>
      <form
        action="/listings/<%= listing.id %>/reviews"
        method="POST"
        novalidate
        class="needs-validation"
      >
        <div class="mt-3 mb-3">
          <label for="rating" class="form-label">Rating</label>
          <input
            type="range"
            min="1"
            max="5"
            id="rating"
            name="review[rating]"
            class="form-range"
          />
        </div>
        <div class="mb-3">
          <label for="comment" class="form-label">Comments</label>
          <textarea
            name="review[comment]"
            id="comment"
            cols="30"
            rows="5"
            class="form-control"
            required
          ></textarea>
          <div class="invalid-feedback">Please write Good Review!!</div>
        </div>
        <!-- <button class="btn btn-outline-dark">Submit</button> -->
        <button class="btn btn-dark edit-btn">Submit</button>
      </form>
      <hr />
      <% } %>
      <p><b>All Reviews</b></p>

      <div class="row">
        <% for(review of listing.reviews) { %>
        <div class="card col-5 ms-3 mb-3">
          <div class="card-body">
            <h5 class="card-title">@<%= review.author.username %></h5>
            <p class="card-text"><%= review.comment %></p>
            <p class="card-text">Rating: <%= review.rating %> Stars</p>
          </div>
          <form
            method="POST"
            action="/listings/<%= listing._id %>/reviews/<%= review._id %>?_method=DELETE"
            class="mb-3"
          >
            <button class="btn btn-sm btn-dark mt-3">Delete</button>
          </form>
        </div>
        <% } %>
      </div>
    </div>
  </div>
</body>
